<ion-view view-title="Editar Perfil">
    <ion-content class="padding">

        <section ng-if="edit.operations.hasErrors" class="block-errors">
            <i class="icon ion-close"></i>
            <h1>{{edit.operations.errorTitle}}</h1>
            <ul>
                <li class="" ng-repeat="items in edit.operations.errors track by $index">
                    {{items}}
                </li>
            </ul>
        </section>
        <section class="profile-container">
            <form ng-submit="edit.edit()" novalidate>
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Tu nombre: </span>
                        <input type="text" ng-model="edit.operations.profile.username">
                    </label>
                    <input-validator submitted="edit.operations.formSubmitted" model="edit.operations.profile.username"
                        type="'alphanumeric'" required="true"></input-validator>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Correo electrónico: </span>
                        <input type="text" ng-model="edit.operations.profile.email">
                    </label>
                    <input-validator submitted="edit.operations.formSubmitted" model="edit.operations.profile.email"
                        type="'email'" required="true"></input-validator>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">¿De dónde sos?</span>
                        <input type="text" ng-model="edit.operations.profile.residencia">
                    </label>
                    <input-validator submitted="edit.operations.formSubmitted"
                        model="edit.operations.profile.residencia" required="true" type="'alphanumeric'"></input-validator>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">BIO: </span>
                        <textarea placeholder="Contale al mundo quién sos. ¿Qué te gusta?"
                            ng-model="edit.operations.profile.descripcion">
                                    </textarea>
                    </label>
                    <input-validator submitted="edit.operations.formSubmitted"
                        model="edit.operations.profile.residencia" type="'alphanumeric'"></input-validator>
                    <label class="item item-input">
                        <span class="input-label">¡Cambiá tu foto!</span>
                        <input type="file" custom-on-change="edit.setFile">
                    </label>
                
                   

                </div>
                <button class="button button-block button-positive">Guardar</button>
            </form>

    </ion-content>
</ion-view>