<ion-view view-title="Mis Favoritos">
    <ion-content class="padding" ng-show="favCtrl.operations.favs.list.length > 0">
        <h1>Favoritos</h1>
        <ul>
            <li ng-repeat="post in favCtrl.operations.favs.list" post-item post="post" in-favs="true" delete-callback="favCtrl.deleteCallback"></li>
        </ul>
    </ion-content>
    
    <nothing-here ng-if="favCtrl.operations.favs.list.length == 0" title="favCtrl.operations.titleNoData"><p>¡Empezá ahora! Podés agregar favoritos desde <a href="#/posts">noticias</a> o desde los perfiles de tus amigos.</p></nothing-here>
    <div class="bar bar-footer footer-btns">
        <div class="col"><a ng-click="favCtrl.goToMyProfile()"><span class="icon-user-icon"></span> Mi Perfil</a></div>
        <div class="col"><a ng-click="favCtrl.exit()"><span class="icon-exit-icon"></span> Salir</a></div>
    </div>
</ion-view>