<ion-view view-title="Iniciá Sesión" can-swipe-back=“false”>
  <ion-content>
    <p class="padding">¡Hola! Ingresá con tus datos de login</p>
    <form action="" ng-submit="loginCtrl.login(data)">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Tu correo:</span>
          <input type="text" ng-model="data.email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Tu contraseña</span>
          <input type="password" placeholder="Tu password aquí" ng-model="data.password">
        </label>
      </div>
      <button type="submit" class="button button-block button-positive">¡Entrar!</button>
    </form>
    <p class="padding">O sino <a href="#/register">Registrate ahora</a></p>
  </ion-content>
</ion-view>