<ion-view cache-view="false" view-title="Noticias">
    <ion-content class="padding mgb-60"  class="noticias-tab" ng-show="postsTab.operations.posts.length > 0">
        <section ng-if="postsTab.operations.hasErrors" class="block-errors">
            <i class="icon ion-alert-circled"></i>
            <h1>{{postsTab.operations.errorTitle}}</h1>
            <ul>
                <li ng-repeat="items in postsTab.operations.errors track by $index">
                    {{items}}
                </li>
            </ul>
        </section>
        <section class="post-list">
            <h2>POSTS</h2>
            <ul>
                <li ng-repeat="post in postsTab.operations.posts" post-item post="post"></li>
            </ul>
        </section>
        
    </ion-content>
    <nothing-here ng-if="postsTab.operations.posts.length == 0" title=""><p>Andá a <a ng-click="postsTab.goToMyProfile()">tu Perfil</a> y agregá nuevos amigos o hacé una publicación </p></nothing-here>
    <div class="bar bar-footer footer-btns">
        <!-- <div class="col"><a href="#/posts"><span class="icon-ok-icon"></span> Noticias</a></div> -->
        <div class="col"><a ng-click="postsTab.goToMyProfile()"><span class="icon-user-icon"></span> Mi Perfil</a></div>
        <div class="col"><a ng-click="postsTab.exit()"><span class="icon-exit-icon"></span> Salir</a></div>
    </div>
</ion-view>