<ion-view view-title="Perfil">

    <ion-content class="padding profile-container mgb-60">
        <section>
            <div class="row">
                <div class="col fit-inside-img">
                    <img ng-src="{{profile.operations.profile.foto}}" alt="avatar de {{profile.operations.profile.username}}" />
                </div>
            </div>
            <div id="row">
                <h1>{{profile.operations.profile.username}}</h1>
                <p>{{profile.operations.profile.descripcion}}</p>
                <p>Lugar de residencia:
                    <span>{{profile.operations.profile.residencia}}</span>
                </p>
            </div>
        </section>
        <section ng-if="profile.operations.hasErrors" class="block-errors">
            <span class="icon ion-close"></span>
            <p>{{profile.operations.errorTitle}}</p>
            <ul>
                <li ng-repeat="items in profile.operations.errors track by $index">
                    {{items}}
                </li>
            </ul>
        </section>

        <section class="friendship-block action-panel"
            ng-if="profile.operations.profile.friendship == 'pending' && !profile.operations.loading">
            <article ng-if="profile.operations.profile.requestedByMe">
                <p>Pedido de amistad enviado.</p><button ng-click="profile.rejectFriendship()">Cancelar</button>
            </article>
            <article ng-if="!profile.operations.profile.requestedByMe">
                <p>{{profile.operations.profile.username}} te envió
                    una solicitud.</p><span class="icon-ok-icon" ng-click="profile.acceptFriendship()"></span><span
                    class="icon-cross-icon" ng-click="profile.rejectFriendship()"></span>
            </article>
        </section>

        <section class="action-panel">
            <article ng-if="profile.operations.profile.friendship == 'accepted' && !profile.operations.loading">
                <p>{{profile.operations.profile.username}} y vos son amigos.</p><button
                    ng-click="profile.rejectFriendship()">Eliminar</button>
            </article>
            <article ng-if="profile.operations.hasFriendRequests">
                <p>Solicitudes de amistad pendientes</p><button ng-click="profile.goSeeFriends()">Ver</button>
            </article>
            <article ng-if="profile.operations.hasFavNews">
                <p>Tenés novedades en tus favoritos.</p><button ng-click="profile.goSeeFavs()">Ver</button>
            </article>
        </section>

        <section class="addpost" ng-if="profile.operations.mine">
            <label class="item item-input">
                <textarea ng-model="profile.operations.commentContent" placeholder="Tu publicacion aquí"></textarea>
            </label>
            <button ng-click="profile.sendPost()">Enviar
            </button>
        </section>

        <section class="post-list" ng-if="profile.operations.posts.length > 0">
            <h2>Últimos Posts</h2>
            <ul>
                <li ng-repeat="post in profile.operations.posts track by $index" post-item post="post"></li>
            </ul>
        </section>

        <section class="down-btns">
            <button ng-repeat="btn in profile.operations.buttons" ng-if="btn.show()" ng-click="btn.clickAction()"><span
                    ng-class="btn.class"></span>{{btn.label}}</button>
        </section>

    </ion-content>
    <div class="bar bar-footer footer-btns">
        <div class="col"><a href="#/posts"><span class="icon-newspaper"></span> Noticias</a></div>
        <div class="col"><a ng-click="profile.exit()"><span class="icon-exit-icon"></span> Salir</a></div>
    </div>
</ion-view>