<ion-view view-title="Registración">
  <ion-content>
      <section ng-if="RegisterCtrl.operations.hasErrors" class="block-errors">
         <i class="icon ion-close"></i>
          <h1>{{RegisterCtrl.operations.errorTitle}}</h1>
          <ul>
              <li ng-repeat="items in RegisterCtrl.operations.errors track by $index"> 
                {{items}}
              </li>
          </ul>
      </section>

    <p class="padding">¡Hola! Completá con tus datos a continuación</p>
    <!-- <div error-loader title="RegisterCtrl.operations.errorTitle" errors="RegisterCtrl.operations.errors" ></div> -->
    <form ng-submit="RegisterCtrl.go(data)">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Tu nombre: </span>
          <input type="text" ng-model="data.name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">¿De dónde sos?</span>
          <input type="text" ng-model="data.location">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Correo electrónico: </span>
          <input type="text" ng-model="data.email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Tu contraseña</span>
          <input type="password" placeholder="Tu password aquí" ng-model="data.password">
        </label>
        <!-- <label class="item item-input item-stacked-label">
          <span class="input-label">Repetí tu contraseña. </span>
          <input type="password" placeholder="Tu password aquí" ng-model="data.password2">
        </label> -->
        <label class="item item-input item-stacked-label">
          <span class="input-label">BIO: </span>
          <textarea placeholder="Contale al mundo quién sos. ¿Qué te gusta?" ng-model="data.descripcion">
              </textarea>
        </label>
        <!-- <label class="item item-input">
          <span class="input-label">¡Subí tu foto!</span>
          <input app-file-input type="file" ng-model="data.img">
        </label> -->
      </div>
      <button class="button button-block button-positive">Registrate</button>
    </form>
    <p class="padding">O si ya estás registrado
      <a href="#/login">Ingresá ahora</a>
    </p>
  </ion-content>
</ion-view>