<ion-view view-title="Amigos" class="see-friends">
    <ion-content class="padding mgb-60" ng-show="!friendsCtrl.operations.profileNoFriendsMsg">
        <h1>Amistades</h1>
        <section ng-repeat="friendListType in friendsCtrl.operations.friends" ng-if="friendListType.hasItems">
            <h2 ng-bind="friendListType.title"></h2>
            <ul>
                <li ng-repeat="profile in friendListType.list track by $index" friend-item item="profile"></li>
            </ul>
        </section>  
    </ion-content>
    <nothing-here ng-if="friendsCtrl.operations.profileNoFriendsMsg" title="friendsCtrl.operations.noFriendTitle"><p>Andá a <a href="#/profile/{{friendsCtrl.operations.profileOwner.id}}">su Perfil</a> y enviale una solicitud</p></nothing-here>
    <div class="bar bar-footer footer-btns">
        <div class="col"><a href="#/profile/{{friendsCtrl.operations.profileOwner.id}}"><span class="icon-user-icon"></span>Perfil</a></div>
        <div class="col"><a ng-click="friendsCtrl.exit()"><span class="icon-exit-icon"></span> Salir</a></div>
    </div>
</ion-view>