.profile-container{
    img{
        width:100%;
    }
    
    
}
.addpost{
    background: #8F55CF;
    padding:10px;
    margin-bottom: 10px;
    textarea{
        min-height: 50px;
        padding-right: 20px;
    }
    button {
        width: 100%;
        border: none;
        height: 50px;
        background:  #8F55CF;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
}
.block-errors{
    padding:15px;
    background: rgba(255,0,0,0.2);
    margin:5px 0;
    h1,p{
        font-size:0.8em;
        margin:0;
        display:inline;
        vertical-align: top;
    }
    li, span{
        color: darkred;
    }
}
.footer-btns{
    background-color:white;
    border-top: 2px solid #387ef5;
    height: 53px;
    padding:10px;
    >div{
        text-align: center;
        a{
            font-size: 16px;
            color: #387ef5;
            text-decoration: none;
            span{
                padding-right: 5px;
            }
        }
    }
}

.fit-inside-img{
    width:100%;
    img{
        width: 100%;
        height: auto;
    }
}

.down-btns{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    button{
        width: 49%;
        margin-bottom: 10px;
        border: none;
        height: 145px;
        background: cornflowerblue;
        color: white;
        font-size: 18px;
        font-weight: bold;
        span{
            color: white;
            display: block;
            font-size: 42px;
            padding-bottom: 37px;
            padding-top:30px;
        }
    }
}

.post-list{
    h2{
        text-align: right;
        color: cornflowerblue;
        border-bottom: 3px solid cornflowerblue;
        font-size: 18px;
        text-transform: uppercase;
    }
}

.action-panel{
    article{
        margin-bottom: 10px;
        color: white;
        width:100%;
    
        p,button,span{
            font-weight: bold;
            padding: 10px;
            margin:0;
            display:inline-block;
            border: 2px solid #6495ed;
        }
        p{
            background: #6495ed;
            width: 75%;
        }
        button{
            color: #6495ed;
            border-bottom-width: 3px;
            border-right-width: 3px;
            background: white;
            width:25%;
        }
        span{
            color: #6495ed;
            border: 4px solid #6495ed;
            border-bottom-width: 6px;
        }
    }

}
h2{
    text-align: right;
    color: cornflowerblue;
    border-bottom: 3px solid cornflowerblue;
    font-size: 18px;
    text-transform: uppercase; 
    padding-top:10px;
}
h1{
    text-align: left;
    color: cornflowerblue;
    border-bottom: 3px solid cornflowerblue;
    font-size: 18px;
    text-transform: uppercase; 
    padding-top:10px;
}
.mgb-60{
    margin-bottom: 60px;
}