<article class="post-item list card">
    
    <div ng-class="{'is-fav' : inFavs && post.hasModifications}">
        
            <article class="post-news" ng-if="inFavs && post.hasModifications">
                <p>¡Nuevos comentarios!</p>
                <button class="icon-cross-icon" ng-click="markAsRead()"></button> 
            </article>
        
        <div class="item item-avatar post-header">
            <img src="img/avatar.jpg">
            <h3>
                <a href="#/profile/{{post.idusuario}}" ng-bind="post.autor"></a>
            </h3>
            <p ng-bind="post.fecha"></p>
        </div>

        <div class="item item-body post-body">
            <img ng-if="post.media" ng-src="post.img" alt="Imagen {{post.media.id}} de {{post.autor}}">
            <p class="contenido" ng-bind="post.contenido"></p>
            <p class="action-panel">
                <a class="subdued" ng-if="post.viewComments"
                    ng-click="post.viewComments = false; post.addComment = false;">Ocultar comentarios</a>
                <a class="subdued" ng-if="!post.viewComments" ng-click="getComments(post)">Ver comentarios</a>
                <a class="subdued" ng-if="!post.isFav" ng-click="makeFav(post)"><span
                        class="icon-star-empty-icon"></span>
                    Marcar como favorito</a>
                <a class="subdued" ng-if="post.isFav" ng-click="delFav(post)"><span class="icon-star-full-icon"></span>
                    Eliminar de favoritos</a>
            </p>
            <div ng-show="post.viewComments" class="card" ng-repeat="comment in post.comments">
                <div class="item item-text-wrap comment-card">
                    <small><a href="#/profile/{{comment.autor_id}}">{{comment.usuario}}</a> - {{comment.fecha}}</small>
                    <p>{{comment.comentario}}</p>
                </div>
            </div>
            <p ng-if="!post.addComment && post.viewComments">
                <a class="subdued" ng-click="post.addComment = !post.addComment">Comentar</a>

            </p>
            <div ng-if="post.addComment" class="addpost">
                <label class="item item-input">
                    <textarea ng-model="commentContent" placeholder="Tu comentario aquí"></textarea>
                </label>
                <button ng-click="sendComment(post, commentContent)">Enviar comentario</button>

            </div>
        </div>
    </div>
    
</article>