.post-item{
    a{ text-decoration: none;}
    .post-header{background-color: #387ef538;}
    .comment-card{
        background: linear-gradient(6deg, lightgrey, transparent);
        a{font-size: 17px; color:#381A38;}
    }
    .post-body{
        background-color: whitesmoke;
        .action-panel{ a{ span{ color: gold; }}}
    }
    .post-news{
        color:  #6495ed;
        width:100%;
        p,button{
            font-weight: bold;
            padding: 10px;
            margin:0;
            display:inline-block;
        }
        p{
            background: #387ef538;
            width: 80%;
        }
        button{
            color: #6495ed;
            border-bottom-width: 3px;
            border-right-width: 3px;
            background: white;
            width:18%;
            border:white;
        }
    }
    .is-fav{border: 5px solid #387ef538;}
}




