@font-face {
  font-family: 'icomoon';
  src:  url('fonts/fonts/icomoon.eot?n7mrnb');
  src:  url('fonts/fonts/icomoon.eot?n7mrnb#iefix') format('embedded-opentype'),
    url('fonts/fonts/icomoon.ttf?n7mrnb') format('truetype'),
    url('fonts/fonts/icomoon.woff?n7mrnb') format('woff'),
    url('fonts/fonts/icomoon.svg?n7mrnb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit-btn-icon:before {
  content: "\e905";
}
.icon-user-icon:before {
  content: "\e971";
}
.icon-users-icon:before {
  content: "\e972";
}
.icon-edit-icon:before {
  content: "\e993";
}
.icon-star-empty-icon:before {
  content: "\e9d7";
}
.icon-star-full-icon:before {
  content: "\e9d9";
}
.icon-cross-icon:before {
  content: "\ea0f";
}
.icon-ok-icon:before {
  content: "\ea10";
}
.icon-exit-icon:before {
  content: "\ea14";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-image:before {
  content: "\e90d";
}
.icon-camera:before {
  content: "\e90f";
}
