.friend-item{
    display: table;
    max-height: 300px;
    >div{
        vertical-align: top;
        display: table-cell;
    }
    .friend-pic{
        width: 15%;
        img{
            max-width:100%;
            height:auto;
            display: block;
        }
    }

    .friend-det{
        h3{
            font-size: 15px;
            padding-left: 10px;
        }
    }

}