<article class="friend-item">
    <div class="friend-pic">
        <img ng-src="{{item.foto}}" alt="Foto de {{item.username}}">
    </div>
    <div class="friend-det">
        <h3><a href="#/profile/{{item.id}}" ng-bind="item.username"></a></h3>
    </div>
</article>