.nothing-here-sec{
    background-image: url(../img/flags.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-color: #6495ed;
    background-position: 100% 11%;
    h1{
        text-transform: none;
        border: none;
        color: white;
        padding: 250px 20px 0 20px;
        font-size: 30px;
        text-align: center;
    }
    div{
        padding: 50px 40px 0 40px;
        p{
            color:whitesmoke;
            font-size: 20px;
            text-align: center;
            a{
                color:lightblue;
            }
        }
    }
}